.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px;
  grid-template-rows: 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px;

  .border {
    border: solid gray 1px;
  }
  .appear {
    border: solid white 1px;
    animation: appear 0.1s linear 1 forwards;
  }
  .delay1 {
    animation-delay: 2s;
  }
  .delay2 {
    animation-delay: 4s;
  }
}

@keyframes appear {
  0% {
    border-color: white;
  }
  100% {
    border-color: gray;
  }
}
