.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 24px 1fr 24px 210px 24px 1fr 24px 1fr 24px;
  grid-template-rows: 24px 1fr 24px 107px 24px 107px 24px 107px 24px 107px 24px;
  grid-template-areas:
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . bio bio bio . . ."
    ". . . . . . . . .";
  color: #cacaca;
  background: #111111;

  .border {
    border: solid #373737 1px;
  }
  .appear {
    border: solid #111111 1px;
    animation: appear 0.1s linear 1 forwards;
  }
  .delay1 {
    animation-delay: 2s;
  }
  .delay2 {
    animation-delay: 4s;
  }
  .tagline {
    font-size: 130px;
    line-height: 94px;
    font-weight: 500;
    letter-spacing: -5px;
    color: #828282;
  }
  .biography {
    grid-area: bio;
    line-height: 20px;
  }
  .navigationelement {
    font-size: 20px;
    font-weight: 700;
  }
}

@keyframes appear {
  0% {
    border-color: #111111;
  }
  100% {
    border-color: #373737;
  }
}
